.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--color-Auth-h2-label);
}

.container label {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-Auth-h2-label);

}

.form_login {
      
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 60%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top : 20px


}

.form_login form {
    display : flex;
    align-items: center;
    flex-direction : column;
    width : 100%;
    height : 80%;
   
}

.divcerrar {
    width: 80%;
    text-align: right;
}

.cerrar {
    border: none;
    font-size: 30px;
}

.cerrar :hover {
    border: none;
    background-color: var(--medio);
}

.div_sing {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

}

.form_login h2 {

    color: var(--color-Auth-h2-label);
    font-size: 37px;
}

.div_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    height: 80%;
    margin: 20px;
   
}


.div_form .input {
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid rgb(242, 241, 241);
    border-radius: 4px;
    font-size: 13px;
    background: rgb(246, 245, 245);
}

.div_form .input[type='submit'] {
    background: var(--background-Auth-buttons);
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
}

.div_forgot_password p {
    color: var(--color-Auth-buttons);
    font-size: 13px;

}

.div_form input:active {
    border: 1px solid #0d6efd;

}

.div_form input:focus {
    border: 1px solid #0d6efd;


}

.link {
  text-decoration: none;
}

.link_button {

    text-decoration: none;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;

}

.button {

    width: 100%;
    height: 40px;
    margin: 0.5%;
    background-color: transparent;
    border: 1px solid var(--background-Auth-buttons);
    font-size: 13px;
    color: var(--color-Auth-buttons);
    border-radius: 4px;

}

.icon_eyes {

    width: 20px;
    height: 20px;
    opacity: 0.5;
}

#singInDiv {
    width: 100%;
}

