.maxContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  
}

.filters {
    padding: 10px;
    margin-left: 50px;
    width: 250px;
    /* border-right: solid rgba(0, 0, 0, 0.5); */

}

.container {
    display: flex;
    width: 100%;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    /* margin-left: 20px;
    margin-right: 20px; */
    padding: 20px;
    
}